/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos del título */
.titulo {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Contenedor de botones */
.botones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilos de los botones */
.boton-imagen {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-imagen:hover,
.boton-imagen:focus {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.boton-imagen:active {
    transform: scale(0.95);
}

/* Estilos de las imágenes dentro de los botones */
.boton-imagen__icono {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.imgResultado {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.imgResultado_icono{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Responsividad */
@media (max-width: 600px) {
    .botones-container {
        flex-direction: column;
    }

    .boton-imagen__icono {
        width: 80px;
        height: 80px;
    }
    .imgResultado_icono{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

.puntajes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; /* ajusta según necesites */
    margin: 20px 0;
}

.puntaje-container {
    display: flex;
    align-items: center;
    margin: 0 20px; /* Espacio entre los contenedores de puntaje */
}

.puntaje-container h3 {
    margin: 0 10px;
}
.boton-nueva-partida {
    display: inline-block;
    padding: 12px 24px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

.boton-nueva-partida:hover {
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px rgba(76, 175, 80, 0.2);
}

.boton-nueva-partida:active {
    background-color: black;
    border-color: black;
    box-shadow: 0 2px 4px rgba(76, 175, 80, 0.2);
    transform: translateY(1px);
}
.boton-bonito:focus {
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}
